@inject IMessagingService MessagingService
@using Blazor.Messaging.Demo.Messages
@implements IDisposable

<h3>Notification Component with hang</h3>

<p>@notification</p>

@code {
    private string notification = "Waiting for login...";

    private async Task ASyncHandler(UserLoggedInMessage message)
    {
        // Simulate a non-blocking delay if needed
        await Task.Delay(3600 * 100);

        notification = $"{message.Username} has logged in!";
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        MessagingService.Subscribe<UserLoggedInMessage>(ASyncHandler);
    }

    public void Dispose()
    {
        MessagingService.Unsubscribe<UserLoggedInMessage>(ASyncHandler);
    }
}