@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, messagers!</h1>

<Publisher></Publisher>

<Subscriber></Subscriber>
<SubscriberAsync></SubscriberAsync>

<SubscriberASyncWithLongRun></SubscriberASyncWithLongRun>
<SubscriberWithException></SubscriberWithException>
