@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, messagers!</h1>

<Publisher></Publisher>

<Subscriber></Subscriber>
<SubscriberAsync></SubscriberAsync>

<SubscriberAsyncWithLongRun></SubscriberAsyncWithLongRun>
<SubscriberWithException Id="1"></SubscriberWithException>
<SubscriberWithException Id="2"></SubscriberWithException>